exportPattern("^[[:alpha:]]+")

importFrom("boot", "boot")
importFrom("graphics", "par", "plot", "points", "polygon", "rect", "segments")
importFrom("grDevices", "chull")
importFrom("KernSmooth", "bkde2D", "dpik")
importFrom("stats", "qchisq", "qf", "qnorm", "qt", "rf", "var")