exportPattern("^[[:alpha:]]+")

importFrom("boot", "boot")
importFrom("graphics", "par", "plot", "points", "polygon", "rect", "segments")
importFrom("grDevices", "chull")
importFrom("KernSmooth", "bkde2D", "dpik")
import("plyr")
importFrom("stats", "pchisq", "pf", "pnorm", "qchisq", "qf", "qnorm", "qt", "rf", "var")

S3method(plot, JOC)
S3method(print, JOC)
S3method(summary, JOC)

S3method(plot, JOCMV)
S3method(print, JOCMV)
S3method(summary, JOCMV)